[class*="column_xs-"]
  float left

.column
  background #27ae60
  text-align center
  border 1px solid #a0a0a0
  padding 10px 0
  min-height 1px

  &_xs-1
    grid 1%

  &_xs-2
    grid 2%

  &_xs-3
    grid 3%

  &_xs-4
    grid 4%

  &_xs-5
    grid 5%

  &_xs-6
    grid 6%

  &_xs-7
    grid 7%

  &_xs-8
    grid 8%

  &_xs-9
    grid 9%

  &_xs-10
    grid 10%

  &_xs-11
    grid 11%

  &_xs-12
    grid 12%