$dir-fonts = '../fonts/';

@font-face {
    font-family: 'Proxima Nova';
    src: url($dir-fonts'proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
    url($dir-fonts'proxima-nova-regular.svg') format('svg'),
    url($dir-fonts'proxima-nova-regular.woff') format('woff'),
    url($dir-fonts'proxima-nova-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url($dir-fonts'proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
    url($dir-fonts'proxima-nova-bold.svg') format('svg'),
    url($dir-fonts'proxima-nova-bold.woff') format('woff'),
    url($dir-fonts'proxima-nova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Web Symbols';
    src: url($dir-fonts'web-symbols-liga-regular.eot?#iefix') format('embedded-opentype'),
    url($dir-fonts'web-symbols-liga-regular.woff') format('woff'),
    url($dir-fonts'web-symbols-liga-regular.ttf') format('truetype'),
    url($dir-fonts'web-symbols-liga-regular.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$f-regular = 'Proxima Nova';
$f-bold = 'Proxima Nova Bold';
$f-symbol = 'WebSymbolsLigaRegular';
