.footer
    height 112px
    background #555f64

    &__developers
        float right
        padding 35px 0 0

    &__text
        float right
        color #fff
        font-size 14px
        margin-left 15px

    &__link
        color #fff

    &__logo
        bg(footer, logo)
        width 125px
        height 32px
        overflow hidden

    &__phone
        font-size 36px
        color #fff
        padding 35px 0 0
