.free
    border 4px solid #90c03e
    width 696px
    margin 0 auto
    padding 20px 0 30px

    &_border-free
        border none

    &__title
        font-size 32px
        text-align center

    &__button
        color #fff
        font-size 18px
        text-align center
        font-family $f-bold
        width 332px
        line-height 56px
        background #7ac800
        text-decoration none
        display block
        margin 20px auto 0
        border-radius 2px
