/* Шапка */
.header
    height 410px
    font-family $f-regular
    background url(../img/header/vacation-bg.jpg) no-repeat center top
    background-size 100% 410px

    &__text
        color #fff
        font-size 48px
        text-align center
        padding 95px 0 0
