box-shadow(arguments...)
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

gradient(arguments...)
  background -moz-linear-gradient(top, arguments)
  background -webkit-linear-gradient(top, arguments)
  background linear-gradient(to bottom, arguments)

grid(ratio)
  width (100/12)*ratio

offset(ratio)
  margin-left (100/12)*ratio