/* Обвязка */
html, body
    height 100%
    font-weight normal
    font-size 16px
    font-family $f-regular

.page
    position relative
    min-height 100%

.wrapper
    width 1111px
    margin 0 auto
