.period
    margin 50px 0 0
    clearfix()

    &__pic
        float left
        margin 0 0 0 -50px

    &__title
        font-size 32px
        line-height 1.2

    &__text
        font-size 18px
        line-height 26px
        width 352px
        overflow hidden
        padding 40px 0 0
