.pgb
    margin-top 100px
    padding 80px 0 45px
    background #f9f9f9

    &__title
        color #222222
        font-size 48px
        text-align center
        margin-bottom 30px

    &__list
        clearfix()
        width 698px
        margin 0 auto 30px

    &__item
        width 329px
        display inline-block
        vertical-align top
        margin-top 30px

        &:nth-child(2n)
            margin-left 40px

    &__icon
        background url(../img/pgb/icons.png) no-repeat
        margin-bottom 10px

        &_1
            background-position 0 0
            width 44px
            height 61px

        &_2
            background-position -101px 0
            width 60px
            height 65px

        &_3
            background-position -44px 0
            width 57px
            height 58px

        &_4
            background-position -161px 0
            width 52px
            height 52px

    &__text
        font-size 18px
        line-height 26px
