// Small devices (tablets, 768px and up)
@media (min-width: 768px)

  [class*="column_sm-"]
    float left

  .column

    &_sm-1
      grid 1%

    &_sm-2
      grid 2%

    &_sm-3
      grid 3%

    &_sm-4
      grid 4%

    &_sm-5
      grid 5%

    &_sm-6
      grid 6%

    &_sm-7
      grid 7%

    &_sm-8
      grid 8%

    &_sm-9
      grid 9%

    &_sm-10
      grid 10%

    &_sm-11
      grid 11%

    &_sm-12
      grid 12%

    &__offset_sm-1
      offset 1%

    &__offset_sm-2
      offset 2%

    &__offset_sm-3
      offset 3%

    &__offset_sm-4
      offset 4%

    &__offset_sm-5
      offset 5%

    &__offset_sm-6
      offset 6%

    &__offset_sm-7
      offset 7%

    &__offset_sm-8
      offset 8%

    &__offset_sm-9
      offset 9%

    &__offset_sm-10
      offset 10%

    &__offset_sm-11
      offset 11%

    &__offset_sm-12
      offset 12%

// Medium devices (desktops, 992px and up)
@media (min-width: 992px)

  [class*="column_md-"]
    float left

  .column

    &_md-1
      grid 1%

    &_md-2
      grid 2%

    &_md-3
      grid 3%

    &_md-4
      grid 4%

    &_md-5
      grid 5%

    &_md-6
      grid 6%

    &_md-7
      grid 7%

    &_md-8
      grid 8%

    &_md-9
      grid 9%

    &_md-10
      grid 10%

    &_md-11
      grid 11%

    &_md-12
      grid 12%

    &__offset_md-1
      offset 1%

    &__offset_md-2
      offset 2%

    &__offset_md-3
      offset 3%

    &__offset_md-4
      offset 4%

    &__offset_md-5
      offset 5%

    &__offset_md-6
      offset 6%

    &__offset_md-7
      offset 7%

    &__offset_md-8
      offset 8%

    &__offset_md-9
      offset 9%

    &__offset_md-10
      offset 10%

    &__offset_md-11
      offset 11%

    &__offset_md-12
      offset 12%

// Large devices (large desktops, 1200px and up)
@media (min-width: 1170px)

  [class*="column_lg-"]
    float left

  .column

    &_lg-1
      grid 1%

    &_lg-2
      grid 2%

    &_lg-3
      grid 3%

    &_lg-4
      grid 4%

    &_lg-5
      grid 5%

    &_lg-6
      grid 6%

    &_lg-7
      grid 7%

    &_lg-8
      grid 8%

    &_lg-9
      grid 9%

    &_lg-10
      grid 10%

    &_lg-11
      grid 11%

    &_lg-12
      grid 12%

    &__offset_lg-1
      offset 1%

    &__offset_lg-2
      offset 2%

    &__offset_lg-3
      offset 3%

    &__offset_lg-4
      offset 4%

    &__offset_lg-5
      offset 5%

    &__offset_lg-6
      offset 6%

    &__offset_lg-7
      offset 7%

    &__offset_lg-8
      offset 8%

    &__offset_lg-9
      offset 9%

    &__offset_lg-10
      offset 10%

    &__offset_lg-11
      offset 11%

    &__offset_lg-12
      offset 12%