.step
    clearfix()
    margin-top 55px

    &:first-child
        margin-top 0

    &__number
        float left
        width 390px

    &__index
        border 4px solid #9ad028
        color #9ad028
        font-size 48px
        border-radius 50%
        width 80px
        height 80px
        text-align center
        line-height 75px
        margin 0 auto 10px

    &__description
        font-family $f-bold
        font-size 18px
        text-align center

    &__content
        padding 12px 0 0
        overflow hidden

    &__text
        font-size 18px
        line-height 26px

    &__example
        margin-top 30px
        color #00a2c4
        font-size 18px
        font-family $f-bold
        position relative

        &:after
            display inline-block
            position relative
            top -2px
            left 5px
            width 6px
            height 4px
            content ''
            background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwP/2wBDAQEBAQEBAQIBAQICAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wAARCAAEAAYDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACv/EACEQAAECBAcAAAAAAAAAAAAAABUUFwAHExYGCBgZIyQl/8QAFQEBAQAAAAAAAAAAAAAAAAAACAn/xAAlEQABAgQEBwAAAAAAAAAAAAATEhQABAURBhUXIwMWGCEiJEL/2gAMAwEAAhEDEQA/AEFyt2y9V+Z5QLq3ZLMRciFsjjkYUuFuqXELdYYQUdUdXT+SphP1rWTkejIXYEwsd3CG/FGe/wBNiDT5ESvfRE0sG9IWtWMChW9p4joy8z+WOxt2HmLc69sBBekaP//Z")
