/* Глобальные стили */
@import "_globals.styl"

/* Обвязка */
@import "_page.styl"

/* Шапка */
@import "_header.styl"

/* Основной контент */
@import "_main.styl"

/* Основной контент */
@import "_sidebar.styl"

/* Подвал */
@import "_footer.styl"

/* Всплывающие окна */
@import "_popup.styl"

/* Responsive CSS */
@import "_responsive.styl"