@import "_vars"
@import "_mixins"

/* Шрифты */
@import "_fonts"

/* Normalize */
@import "_normalize"

/* Глобальные стили */
@import "_globals"

/* Обвязка */
@import "_page"

/* Шапка */
@import "_header"

@import "_top"
@import "_steps"
@import "_step"
@import "_numbers"
@import "_formula"
@import "_otpusk"
@import "_free"
@import "_macbook"
@import "_result"
@import "_period"
@import "_pgb"

/* Подвал */
@import "_footer"

/* Форма */
@import "_form"

/* Сетка */
@import "_grid"

/* Строка сетки */
@import "_row"

/* Колонка сетки */
@import "_column"

/* Всплывающие окна */
@import "_popup"

/* Responsive */
@import "_responsive"
