/* Глобальные стили */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.g-clf:after,
.g-clf:before {
  clear: both;
  display: table;
  content: "";
}
/* Обвязка */
html,
body {
  height: 100%;
  font: normal 16px "Arial", Verdana, Tahoma;
}
.page {
  position: relative;
  min-height: 100%;
}
/* Шапка */
.header {
  font-weight: bold;
  font-size: 3em;
}
/* Основной контент */
/* Основной контент */
/* Подвал */
/* Всплывающие окна */
/* Responsive CSS */
