/* Глобальные стили */
*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.g-clf:after,
.g-clf:before
{
    display: table;
    clear: both;

    content: '';
}
/* Обвязка */
html,
body
{
    font: normal 16px 'Arial', Verdana, Tahoma;

    height: 100%;
}
.page
{
    position: relative;

    min-height: 100%;
}
/* Шапка */
.header
{
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
}
/* Основной контент */
/* Основной контент */
/* Подвал */
/* Всплывающие окна */
/* Responsive CSS */
